<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	{% with messeges = get_flashed_messages(with_categories=true) %}
		{% if messeges %}
			{% for category,messege in messeges %}
				{{messege}}
			{% endfor %}
		{% endif %}
	{% endwith %}

<form action="/" method="POST">
{{form.hidden_tag()}} <br>
{{form.first_name.label}}{{form.first_name()}}<br>
{{form.last_name.label}}{{form.last_name()}}<br>
{{form.email.label}}{{form.email()}}<br>
{{form.submit()}}

{{name}}

</form>








	
</body>
</html>